[submodule "Marathon"]
	path = Marathon
	url = https://github.com/Knuxfan24/Marathon/
	branch = ninja
[submodule "HedgeLib"]
	path = HedgeLib
	url = https://github.com/Radfordhound/HedgeLib
	branch = master
[submodule "prs.net"]
	path = prs.net
	url = https://github.com/FraGag/prs.net
[submodule "Rainbow"]
	path = Rainbow
	url = https://github.com/yodadude2003/Rainbow
